@import 'fonts';
@import 'colors';

#category-layout {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 15px;

    #category-sidebar {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 0.5rem;
        background-color: $header-color;
        border-radius: 1rem;
        align-self: start;
        font-family: $default-font;

        .sidebar-h1 {
            font-family: $default-font;
            font-weight: 500;
            padding: 0 0 0 0.5rem;
            font-size: 18px;
            color: $white;
            margin: 0;
        }

        .sidebar-h2 {
            font-family: $default-font;
            font-weight: 300;
            font-size: 18px;
            color: $white;
            padding: 0 0 0 0.5rem;
            margin: 0;
        }

        .checkbox-container{
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
            width: 100%;
            padding: 0 0 0 1rem;

            .checkbox-subcontainer{
                display:flex;
                flex-direction: row;
                gap: 0.5rem;
                color: $white;
                font-size: 14px;
            }
        }
    }

    #item-container {
        width: 100%;
    }
}