@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Unbounded";
    src: url("/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

$logo-font: "Unbounded", sans-serif;
$logo-font-size: 2rem;
$default-font: "Inter", sans-serif;
$default-font-size: 1rem;

