@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#header-container {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}
#header-container #header {
  background-color: #363537;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  position: relative;
}
#header-container #header #logo {
  font-family: "Unbounded", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #F3C33F;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#header-container #header #header-category-button {
  background-color: white;
  border: 2px #F3C33F solid;
  border-radius: 0.5rem;
  max-height: 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem 0.4rem 0.2rem 0.3rem;
  justify-content: space-around;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#header-container #header #header-category-img {
  padding: 0rem;
}
#header-container #header #search-bar {
  background-color: white;
  min-height: calc(24px + rem);
  width: 70%;
  height: 2rem;
  border: 2px #F3C33F solid;
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
}
#header-container #header #search-bar #search-img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#header-container #header #change-lang {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#header-container #header #dark-mode-img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#header-container #header-underline {
  background-color: #FFFFFF;
  width: 100%;
  height: 30px;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 1rem;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#header-container #header-underline #header-underline-lsubcontainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#header-container #header-underline #header-underline-lsubcontainer #discounts-href {
  color: #BB4430;
}
#header-container #header-underline #header-underline-itemsfound {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
}
#header-container #header-underline #header-underline-rsubcontainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
#header-container #header-underline #header-underline-rsubcontainer #login-href {
  color: #F3C33F;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
#header-container #header-underline #header-underline-rsubcontainer #login-href Image {
  position: relative;
  top: 1px;
}/*# sourceMappingURL=Header.module.css.map */