@import 'fonts';
@import 'colors';

.item {
    background-color: $white;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-family: $default-font;

    .item-canvas {
        width: 100%;
        aspect-ratio: 1;
        background-color: gray;
        border-radius: 0.5rem;
    }


    .item-subcontainer {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        align-items: space-between;
        gap: 0.5rem;
        padding: 0.5rem;

        .item-name {
            font-size: 18px;
        }
        .item-rating-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            gap: 0.3rem;
            position: relative;
            font-weight: lighter;
            
            .item-rating-number{
                font-weight: 300;
            }

            Image{
                position: absolute;
                bottom: 10px;
            }
        }
        .item-attributes-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
        }
        .item-price{
            font-size: 20px;
            text-align: right;
        }
    }
}