@import 'fonts';
@import 'colors';

#account-navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0 1rem 0 1rem;

    .account-navbar-tab {
        margin: 0;

        font-family: $default-font;
        font-weight: 500;
        font-size: 22px;

        user-select: none;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

#new-model-container {
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: minmax(3fr, 5fr) 4fr;
    grid-template-rows: repeat(2, minmax(270px, 1fr));
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;

    #new-model-text-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        grid-row: 1/1;
        grid-column: 1/1;

        #new-model-name-input {
            width: auto;
            height: 2.5rem;
            border: 2px $header-color solid;
            border-radius: 0.4rem;
            line-height: 0;
            padding: 0.7rem;
            font-family: $default-font;
            font-weight: 400;
            font-size: 20px;
            color: black;
        }

        #new-model-textarea {
            height: 100%;
            padding: 1rem;
            font-family: $default-font;
            font-weight: 400;
            font-size: 14px;
            color: black;
            border: 2px $header-color solid;
            border-radius: 0.4rem;
            resize: none;
        }
    }
}

#new-model-category-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    background-color: $header-color;
    border-radius: 1rem;
    grid-row: 2/2;
    grid-column: 1/1;

    .new-model-category-subcontainer {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 0.5rem;
        width: 100%;
        height: 100%;
        // background-color: white;

        .new-model-category-h1 {
            font-family: $default-font;
            font-weight: 500;
            font-size: 18px;
            color: white;
            margin: 0;
            text-align: center;
        }

        #material {
            text-align: left;
        }

        li {
            font-family: $default-font;
            display: flex;
            flex-direction: row;
            gap: 0.6rem;
            padding: 0.3rem 0.5rem 0.3rem 0.5rem;
            align-items: center;
            justify-content: left;
            color: $white;
            font-size: 16px;
        }

        .checkbox-container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            padding: 0.3rem;

            .checkbox-subcontainer {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 14px;
                color: $white;
                cursor: pointer;

                input[type="checkbox"] {
                    display: none;
                }

                span {
                    position: relative;
                    padding-left: 24px;
                    font-family: $default-font;
                    font-size: 14px;
                    color: $white;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 16px;
                        height: 16px;
                        border: 2px solid $white;
                        border-radius: 0.2rem;
                        background-color: transparent;
                        transition: background-color 0.2s ease-in-out;
                    }
                }

                input:checked+span::before {
                    background-color: $white;
                }
            }
        }

        .new-model-category-subcontainer-l2 {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
            justify-content: left;
        }
    }

    #format-price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        input {
            width: 100%;
            height: 2.5rem;
            border: 1px #201F21 solid;
            border-radius: 0.4rem;
            line-height: 0;
            padding: 0.3rem;
            font-family: $default-font;
            font-weight: 500;
            font-size: 14px;
            color: black;
            text-align: center;
        }

        button {
            min-width: 100%;
            height: 2.5rem;
            border-radius: 0.4rem;
            line-height: 0;
            border: 2px #201F21 solid;
            padding: 0.7rem;
            font-family: $default-font;
            font-weight: 500;
            font-size: 14px;
            color: $white;
            background-color: #201F21;
            cursor: pointer;
        }
    }
}

#new-model-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    height: 100%;
    aspect-ratio: 1;
    user-select: none;

    #new-model-upload-canvas {
        width: 100%;
    }

    input[type="file"] {
        display: none;
    }

    #custom-model-upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1;
        border: 2px solid $header-color;
        border-radius: 0.5rem;
        cursor: pointer;
        font-family: $default-font;
        font-weight: 500;
        font-size: 16px;
        color: $header-color;
    }
}