@import 'fonts';
@import 'colors';

#account-navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0 1rem 0 1rem;

    .account-navbar-tab {
        margin: 0;

        font-family: $default-font;
        font-weight: 500;
        font-size: 22px;

        user-select: none;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

#new-model-container {
    width: 100%;
    height: 80vh;
    background-color: $white;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(270px, 1fr));
    grid-template-rows: repeat(2, minmax(270px, 1fr));
    gap: 1rem;
    padding: 1rem;

    #new-model-text-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        #new-model-name-input {
            width: auto;
            height: 2.5rem;
            border: 2px $header-color solid;
            border-radius: 0.4rem;
            line-height: 0;
            padding: 0.7rem;
            font-family: $default-font;
            font-weight: 400;
            font-size: 20px;
            color: black;
        }

        #new-model-textarea{
            height: 100%;
            padding: 1rem;
            font-family: $default-font;
            font-weight: 400;
            font-size: 14px;
            color: black;
            border: 2px $header-color solid;
            border-radius: 0.4rem;
            resize: none;
        }
    }
}

#new-model-upload-container {}

#new-model-category-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: $header-color;
    border-radius: 1rem;
    
    .new-model-category-subcontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        width: 100%;
        height: 100%;
        // background-color: white;

        .new-model-category-h1{
            font-family: $default-font;
            font-weight: 500;
            font-size: 18px;
            color: white;
        }
    }
}

#new-model-price-container {}