@import 'fonts';
@import 'colors';

#account-navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0 1rem 0 1rem;

    .account-navbar-tab {
        margin: 0;

        font-family: $default-font;
        font-weight: 500;
        font-size: 22px;

        user-select: none;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

#new-model-flex {
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;

    #text-category-flex {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-shrink: 1;

        height: 80vh;
        width: fit-content;

        #text-flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex: 1 1 auto;
            /* Может расти и сжиматься */
            min-height: 0;
            /* Важно для правильного сжатия textarea */

            input {
                width: auto;
                height: 2.5rem;
                border: 2px $header-color solid;
                border-radius: 0.4rem;
                line-height: 0;
                padding: 0.7rem;
                font-family: $default-font;
                font-weight: 400;
                font-size: 20px;
                color: black;
            }

            textarea {
                flex: 1;
                /* Занимает все доступное пространство */
                min-height: 0;
                /* Критически важно для сжатия */
                padding: 1rem;
                font-family: $default-font;
                font-weight: 400;
                font-size: 14px;
                color: black;
                border: 2px $header-color solid;
                border-radius: 0.4rem;
                resize: none;
            }
        }

        #category-flex {
            display: flex;
            flex-direction: row;
            flex: 1 0 25%;
            /* Начальная высота 50%, но может расти */
            height: auto;
            min-height: 0;
            /* Важно для правильного сжатия */
            gap: 0.5rem;
            padding: 1rem;
            background-color: $header-color;
            border-radius: 1rem;

            .category-column {
                display: flex;
                flex-direction: column;
                align-items: left;
                gap: 0.5rem;
                width: 100%;
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;

                h1 {
                    font-family: $default-font;
                    font-weight: 500;
                    font-size: 18px;
                    color: white;
                    margin: 0;
                    text-align: center;
                }

                li {
                    font-family: $default-font;
                    display: flex;
                    flex-direction: row;
                    gap: 0.6rem;
                    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
                    align-items: center;
                    justify-content: left;
                    color: $white;
                    font-size: 16px;
                }

                .checkbox-flex {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    width: 100%;
                    padding: 0.3rem;

                    .checkbox-subflex {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        font-size: 14px;
                        color: $white;
                        cursor: pointer;

                        input[type="checkbox"] {
                            display: none;
                        }

                        span {
                            position: relative;
                            padding-left: 24px;
                            font-family: $default-font;
                            font-size: 14px;
                            color: $white;

                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                width: 16px;
                                height: 16px;
                                border: 2px solid $white;
                                border-radius: 0.2rem;
                                background-color: transparent;
                                transition: background-color 0.2s ease-in-out;
                            }
                        }

                        input:checked+span::before {
                            background-color: $white;
                        }
                    }
                }
            }

            #format-price-column {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                justify-content: space-between;

                .format-flex {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    align-items: center;
                    justify-content: left;

                    button {
                        min-width: 100%;
                        height: 2.5rem;
                        border-radius: 0.4rem;
                        line-height: 0;
                        border: 2px #201F21 solid;
                        padding: 0.7rem;
                        font-family: $default-font;
                        font-weight: 500;
                        font-size: 14px;
                        color: $white;
                        background-color: #201F21;
                        cursor: pointer;
                        transition: all 0.05s ease-in-out;

                        &:active {
                            background-color: white;
                            border: 2px white solid;
                            color: black;
                        }
                    }

                    #price-currency-container {
                        gap: 0.5rem;
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        height: fit-content;

                        input {
                            text-align: center;
                            min-width: 0;
                            height: 2.5rem;
                            border: 1px #201F21 solid;
                            border-radius: 0.4rem;
                            line-height: 0;
                            padding: 0.3rem;
                            font-family: $default-font;
                            font-weight: 500;
                            font-size: 14px;
                            color: black;
                            text-align: center;
                            outline: none;
                            flex-grow: 2;
                        }

                        input[type='number']::-webkit-inner-spin-button {
                            position: absolute;
                            height: 100%;
                            display: none;
                            top: 0;
                            right: 0;
                        }

                        button {
                            min-width: auto;
                            width: 5rem;
                            height: 2.5rem;
                            border-radius: 0.4rem;
                            line-height: 0;
                            border: 2px #201F21 solid;
                            padding: 0.7rem;
                            font-family: $default-font;
                            font-weight: 500;
                            font-size: 14px;
                            color: $white;
                            background-color: #201F21;
                            cursor: pointer;
                            flex-shrink: 1;
                            flex-grow: 0;
                            transition: all 0.05s ease-in-out;

                            white-space: nowrap;
                            overflow: hidden;
                            text-align: center;

                            &:active {
                                background-color: white;
                                border: 2px white solid;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

    #model-upload-flex {
        flex-grow: 1;
        height: 80vh;
        width: 100%;
        gap: 1rem;

        display: flex;
        flex-direction: column;

        input[type="file"] {
            display: none;
            flex-shrink: 1;
        }

        #custom-model-input {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            border: 2px solid $header-color;
            border-radius: 0.5rem;
            cursor: pointer;
            font-family: $default-font;
            font-weight: 500;
            font-size: 16px;
            color: $header-color;
            flex-shrink: 1;
            flex-grow: 0;
        }

        #canvas-flex {
            height: 100%;
            width: 100%;
            border: 2px solid $header-color;
            border-radius: 0.5rem;
            flex-grow: 0;
            flex-shrink: 2;
            display: block;
            line-height: 0;
            overflow: hidden;
        }

        overflow-x: hidden;

        #model-photo-swiper-container {
            width: 100%;
            height: 33%;

            .add-photo {
                width: 100%;
                height: 100%;

                text-wrap-style: pretty;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-radius: 0.5rem;
                cursor: pointer;
                font-family: $default-font;
                font-weight: 500;
                font-size: 16px;
                color: $header-color;
                display: flex;
                width: 100%;
                height: 100%;

                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0px;
                    width: 100%;
                    height: 100%;
                    p{
                        margin: 0px;
                    }
                }

                input {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}