@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#account-navbar {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1.5rem;
  padding: 0 1rem 0 1rem;
}
#account-navbar .account-navbar-tab {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
#account-navbar a {
  text-decoration: none;
  color: black;
}

#new-model-flex {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
#new-model-flex #text-category-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 1;
  height: 80vh;
  width: -moz-fit-content;
  width: fit-content;
}
#new-model-flex #text-category-flex #text-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
  /* Может расти и сжиматься */
  min-height: 0;
  /* Важно для правильного сжатия textarea */
}
#new-model-flex #text-category-flex #text-flex input {
  width: auto;
  height: 2.5rem;
  border: 2px #363537 solid;
  border-radius: 0.4rem;
  line-height: 0;
  padding: 0.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
}
#new-model-flex #text-category-flex #text-flex textarea {
  flex: 1;
  /* Занимает все доступное пространство */
  min-height: 0;
  /* Критически важно для сжатия */
  padding: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
  border: 2px #363537 solid;
  border-radius: 0.4rem;
  resize: none;
}
#new-model-flex #text-category-flex #category-flex {
  display: flex;
  flex-direction: row;
  flex: 1 0 25%;
  /* Начальная высота 50%, но может расти */
  height: auto;
  min-height: 0;
  /* Важно для правильного сжатия */
  gap: 0.5rem;
  padding: 1rem;
  background-color: #363537;
  border-radius: 1rem;
}
#new-model-flex #text-category-flex #category-flex .category-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#new-model-flex #text-category-flex #category-flex .category-column .category-li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
#new-model-flex #text-category-flex #category-flex .category-column h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  margin: 0;
  text-align: center;
}
#new-model-flex #text-category-flex #category-flex .category-column li {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  align-items: center;
  justify-content: left;
  color: #FFFFFF;
  font-size: 16px;
}
#new-model-flex #text-category-flex #category-flex .category-column .checkbox-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0.3rem;
}
#new-model-flex #text-category-flex #category-flex .category-column .checkbox-flex .checkbox-subflex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}
#new-model-flex #text-category-flex #category-flex .category-column .checkbox-flex .checkbox-subflex input[type=checkbox] {
  display: none;
}
#new-model-flex #text-category-flex #category-flex .category-column .checkbox-flex .checkbox-subflex span {
  position: relative;
  padding-left: 24px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}
#new-model-flex #text-category-flex #category-flex .category-column .checkbox-flex .checkbox-subflex span::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #FFFFFF;
  border-radius: 0.2rem;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}
#new-model-flex #text-category-flex #category-flex .category-column .checkbox-flex .checkbox-subflex input:checked + span::before {
  background-color: #FFFFFF;
}
#new-model-flex #text-category-flex #category-flex #format-price-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}
#new-model-flex #text-category-flex #category-flex #format-price-column .format-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: left;
}
#new-model-flex #text-category-flex #category-flex #format-price-column .format-flex button {
  min-width: 100%;
  height: 2.5rem;
  border-radius: 0.4rem;
  line-height: 0;
  border: 2px #201F21 solid;
  padding: 0.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #201F21;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}
#new-model-flex #text-category-flex #category-flex #format-price-column .format-flex button:active {
  background-color: white;
  border: 2px white solid;
  color: black;
}
#new-model-flex #text-category-flex #category-flex #format-price-column .format-flex #price-currency-container {
  gap: 0.5rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
}
#new-model-flex #text-category-flex #category-flex #format-price-column .format-flex #price-currency-container input {
  text-align: center;
  min-width: 0;
  height: 2.5rem;
  border: 1px #201F21 solid;
  border-radius: 0.4rem;
  line-height: 0;
  padding: 0.3rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-align: center;
  outline: none;
  flex-grow: 2;
}
#new-model-flex #text-category-flex #category-flex #format-price-column .format-flex #price-currency-container input[type=number]::-webkit-inner-spin-button {
  position: absolute;
  height: 100%;
  display: none;
  top: 0;
  right: 0;
}
#new-model-flex #text-category-flex #category-flex #format-price-column .format-flex #price-currency-container button {
  min-width: auto;
  width: 5rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  line-height: 0;
  border: 2px #201F21 solid;
  padding: 0.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #201F21;
  cursor: pointer;
  flex-shrink: 1;
  flex-grow: 0;
  transition: all 0.05s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
#new-model-flex #text-category-flex #category-flex #format-price-column .format-flex #price-currency-container button:active {
  background-color: white;
  border: 2px white solid;
  color: black;
}
#new-model-flex #model-upload-flex {
  flex-grow: 1;
  height: 80vh;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
#new-model-flex #model-upload-flex input[type=file] {
  display: none;
  flex-shrink: 1;
}
#new-model-flex #model-upload-flex #custom-model-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 2px solid #363537;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #363537;
  flex-shrink: 1;
  flex-grow: 0;
}
#new-model-flex #model-upload-flex #canvas-flex {
  height: 100%;
  width: 100%;
  border: 2px solid #363537;
  border-radius: 0.5rem;
  flex-grow: 0;
  flex-shrink: 2;
  display: block;
  line-height: 0;
  overflow: hidden;
}
#new-model-flex #model-upload-flex #model-photo-swiper-container {
  width: 100%;
  height: 33%;
}
#new-model-flex #model-upload-flex #model-photo-swiper-container .add-photo {
  width: 100%;
  height: 100%;
  text-wrap-style: pretty;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #363537;
  display: flex;
  width: 100%;
  height: 100%;
}
#new-model-flex #model-upload-flex #model-photo-swiper-container .add-photo label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 100%;
  height: 100%;
}
#new-model-flex #model-upload-flex #model-photo-swiper-container .add-photo label p {
  margin: 0px;
}
#new-model-flex #model-upload-flex #model-photo-swiper-container .add-photo input {
  width: 100%;
  height: 100%;
}
#new-model-flex #model-upload-flex #model-photo-swiper-container .image-container .remove-thumbnail-btn {
  position: absolute;
  height: auto;
  width: auto;
  background: white;
  border-radius: 0.5rem;
  margin: 0.5rem;
  top: 0;
  right: 0;
  cursor: pointer;
}/*# sourceMappingURL=AccountPage.module.css.map */