@import "fonts";
@import "colors";

#category-layout {
    user-select: none;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 15px;

    #category-sidebar {
        display: flex;
        flex-direction: column;
        width: 300px;
        padding: 0.5rem 0.5rem 1rem 0.5rem;
        background-color: $header-color;
        border-radius: 1rem;
        align-self: start;
        font-family: $default-font;

        .sidebar-h1, .sidebar-h2 {
            font-family: $default-font;
            font-size: 18px;
            color: $white;
            margin: 0.5rem;
        }

        .sidebar-h1 {
            font-weight: 500;
        }

        .sidebar-h2 {
            font-weight: 300;
        }

        .checkbox-container {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            width: 100%;
            padding-left: 1rem;

            .checkbox-subcontainer {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 14px;
                color: $white;
                cursor: pointer;

                input[type="checkbox"] {
                    display: none;
                }

                span {
                    position: relative;
                    padding-left: 24px;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 16px;
                        height: 16px;
                        border: 2px solid $white;
                        border-radius: 0.2rem;
                        background-color: transparent;
                        transition: background-color 0.2s ease-in-out;
                    }
                }

                input:checked + span::before {
                    background-color: $white;
                }
            }
        }
    }

    #item-container {
        width: 100%;
    }
}


#format-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    padding: 0 1rem 0 1rem;

    .format{
        font-family: $default-font;
        font-size: 14px;
        color: $white;
        border: 1px white solid;
        border-radius: 5px;
        padding: 0.1rem 0.3rem 0.1rem 0.3rem;
        user-select: none;
        transition: background-color 0.4s ease, color 0.4s ease;
        transition: color 0.4s ease, color 0.4s ease;
    }
}