@import 'fonts';
@import 'colors';

#container {
    user-select: none;
    width: 100%;
    height: fit-content;
    position: relative;

    #collapsible-list {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        padding: 0;
        height: 140px;
        overflow-y: hidden;
        margin-top: 0;

        li {
            padding: 0 0 0 1rem;
            display: flex;
            flex-direction: row;
            gap: 0.6rem;
            align-items: center;
            justify-content: left;
            color: $white;
            font-size: 14px;
        }
    }

    #collapsible-button{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 4rem;
        background: linear-gradient(to top, rgba(54,53,55,1) 30%, rgba(255,255,255,0) 100%);
        position: absolute;
        bottom: 0px;

        Image{
            z-index: 1;
        }
    }
}