$white: #FFFFFF;
$gray: #D9D9D9;
$black: #000000;

$bg-color: #F5F5F5;
$cart-swiper-bg-color: #dddddd;
$logo-color: #F3C33F;
$header-color: #363537;
$header-underline-color: $white;
$header-underline-login-color: #E6AD0F;
$header-discount-text-color: #BB4430;
$category-bar-color: $white;
$default-text-color: $black;
$item-bg-color: $white;
$item-star-color: $logo-color;
$item-license-color: $gray;

