@import 'fonts';
@import 'colors';

#header-container {
	width: 100%;
	height: 100%;
	background-color: $white;
	border-radius: 0 0 10px 10px;
	position: sticky;
	top: 0;
	z-index: 3;
	
	.no-outline {
		text-decoration: none;
		outline: none;
		color: inherit;
	  }
	  
	  .no-outline:focus,
	  .no-outline:active {
		outline: none;
		box-shadow: none;
		text-decoration: none;
	  }

	#header {
		background-color: $header-color;
		display: flex;
		gap: 1rem;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 4rem;
		border-radius: 0 0 1rem 1rem;
		padding: 1rem;

		position: relative;

		#logo {
			// position: absolute;
			// left: 2rem;

			font-family: $logo-font;
			font-weight: bold;
			font-size: 2rem;
			color: $logo-color;
			user-select: none;
		}

		#header-category-button {
			background-color: white;
			border: 2px $logo-color solid;
			border-radius: 0.5rem;
			max-height: 32px;
			font-family: $default-font;
			font-size: 16px;

			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 0.2rem;
			padding: 0.2rem 0.4rem 0.2rem 0.3rem;
			// padding-left: 0.3rem;
			// padding-right: 0.4rem;
			justify-content: space-around;
			user-select: none;
			cursor: pointer;
		}

		#category-dropdown {
			position: relative;

			&:hover #header-category-button {
				color: white;
				background-color: $header-color;
				border: 2px $header-color solid;

				img{
					filter: grayscale(100%) brightness(1000%) contrast(100%);
				}
			  }			

			#header-category-button {
				position: relative;
				z-index: 2;
			}

			#dropdown-list {
				margin-top: -0.0001rem;
				background-color: $header-color;
				position: absolute;
				top: 100%;
				left: -1rem;
				border-radius: 0 0 1rem 1rem;
				padding: 1rem 1rem 1rem 1rem;
				z-index: 1;
				list-style: none;
				width: auto;
				display: none;

				li {
					color: white;
					font-family: $default-font;
					font-size: 16px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: left;
					gap: 0.5rem;
					user-select: none;
					cursor: pointer;
				}
			}

			&:hover #dropdown-list {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 1rem 2rem;
			}
		}

		#header-category-img {
			padding: 0rem;
		}

		#search-bar {
			background-color: white;
			min-height: calc(24px + rem);
			width: 70%;
			height: 2rem;
			border: 2px $logo-color solid;
			border-radius: 0.5rem;
			padding: 0.2rem 0.4rem 0.2rem 0.4rem;
			font-family: $default-font;
			font-size: 16px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			overflow-x: hidden;
			overflow-y: hidden;

			#search-img {
				user-select: none;
			}
		}

		#right-header-container {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			width: fit-content;
			justify-content: center;
			align-content: center;

			img {
				height: 28px;
				width: fit-content;
			}
		}

		#change-lang {
			color: $white;
			font-family: $default-font;
			font-size: 24px;

			user-select: none;
		}

		#dark-mode-img {
			user-select: none;
		}
	}

	#header-underline {
		background-color: $white;
		width: 100%;
		height: 30px;
		border-radius: 0 0 1rem 1rem;
		display: flex;
		gap: 1rem;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0.3rem 1rem 0.3rem 1rem;
		font-family: $default-font;
		font-size: 14px;

		position: relative;

		user-select: none;

		#header-underline-lsubcontainer {
			display: flex;
			gap: 1rem;
			flex-direction: row;
			justify-content: start;
			align-items: center;

			#discounts-href {
				color: $header-discount-text-color
			}
		}

		#header-underline-itemsfound {
			display: flex;
			gap: 1rem;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			position: absolute;
			left: 50%;
		}

		#header-underline-rsubcontainer {
			display: flex;
			gap: 1rem;
			flex-direction: row;
			justify-content: end;
			align-items: center;

			#change-lang {
				color: white;
				background-color: $header-color;
				border-radius: 10rem;
				border: 1px solid $header-color;
				padding: 0 0.5rem 0 0.5rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			#dark-mode-img {
				filter: invert(1)
			}

			#login-href {
				color: $logo-color;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 4px;
				cursor: pointer;

				#username {
					font-weight: 500;
				}

				Image {
					position: relative;
					top: 1px;
				}
			}
		}
	}
}