@import "fonts";
@import "colors";

#item-swiper {
    width: 100%;
    height: fit-content;
}

#cart-item-swiper{
    width: 100%;
    height: fit-content;
}

#model-photo-swiper {
    width: 100%;
    height: 100%;
    flex-grow: 1;

    .model-photo-slide-class {
        box-sizing: border-box;
        border: 2px solid $header-color;
        border-radius: 0.4rem;
        user-select: none;
        img {
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}