@import "fonts";
@import "colors";

#navbeam {
  user-select: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  border-radius: 0.8rem;
  width: 100%;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;

  #navbeam-textandlogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;

    font-family: $default-font;
    font-size: 16px;
  }
}
