@import 'fonts';
@import 'colors';

#popup-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:4;
    overflow-y: hidden;
}