@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Unbounded";
  src: url("/fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#main-flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#main-flex #product-flex {
  width: 100%;
  min-height: 80vh;
  height: 80vh;
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
}
#main-flex #product-flex #loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-flex #product-flex #preview-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  width: 100%;
  gap: 1rem;
}
#main-flex #product-flex #preview-flex #canv {
  flex-shrink: 2;
  flex-grow: 1;
  min-height: 0;
  border: solid 2px #363537;
  border-radius: 0.5rem;
  background-color: #D9D9D9;
  overflow: hidden;
}
#main-flex #product-flex #preview-flex #image-preview {
  flex-shrink: 2;
  flex-grow: 1;
  min-height: 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #363537;
  border-radius: 0.5rem;
  background-color: #D9D9D9;
}
#main-flex #product-flex #preview-flex #image-preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#main-flex #product-flex #preview-flex #images {
  width: 100%;
  height: 20%;
}
#main-flex #product-flex #preview-flex #images #model-preview-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #363537;
  line-height: 1rem;
}
#main-flex #product-flex #product-textblock-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-height: 0;
}
#main-flex #product-flex #product-textblock-flex #name-rating-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#main-flex #product-flex #product-textblock-flex #name-rating-flex #name {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
}
#main-flex #product-flex #product-textblock-flex #name-rating-flex #rating-vote {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.3rem;
}
#main-flex #product-flex #product-textblock-flex #name-rating-flex #rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  gap: 0.5rem;
}
#main-flex #product-flex #product-textblock-flex #name-rating-flex #rating span {
  border-bottom: 0.1rem solid black;
}
#main-flex #product-flex #product-textblock-flex #name-rating-flex #vote-count {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-wrap: nowrap;
}
#main-flex #product-flex #product-textblock-flex #description {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-indent: 1rem;
  display: flex;
  flex: 1;
  max-height: 100%;
  overflow: auto;
}
#main-flex #product-flex #product-textblock-flex #attributes-price-flex {
  background-color: #363537;
  color: #FFFFFF;
  width: 100%;
  height: 20%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#main-flex #product-flex #product-textblock-flex #attributes-price-flex #attributes {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 0.5rem;
  line-height: 24px;
}
#main-flex #product-flex #product-textblock-flex #attributes-price-flex #attributes .attribute {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;
}
#main-flex #product-flex #product-textblock-flex #attributes-price-flex #price-button-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
}
#main-flex #product-flex #product-textblock-flex #attributes-price-flex #price-button-flex #price {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
}
#main-flex #product-flex #product-textblock-flex #attributes-price-flex #price-button-flex #add-to-cart {
  background-color: #F3C33F;
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
}
#main-flex #product-flex #product-textblock-flex #attributes-price-flex #price-button-flex #add-to-cart:active {
  background-color: white;
}/*# sourceMappingURL=ProductPage.module.css.map */