@import 'fonts';
@import 'colors';

#main-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    #product-flex {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        background-color: $white;
        padding: 1rem;
        gap: 1rem;
        border-radius: 1rem;

        #model-canvas {
            flex-basis: 50%;
            flex-shrink: 0;
            aspect-ratio: 1/1;
            border: solid 2px $header-color;
            border-radius: 1rem 0.5rem 0.5rem 0.5rem;
            background-color: $gray;
            overflow: hidden;
        }

        #product-textblock-flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            #name-rating-flex {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                #name {
                    font-family: $default-font;
                    font-size: 1.5rem;
                    font-weight: 400;
                    width: 100%;
                    overflow-x: hidden;
                }
                #rating-vote{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 0.3rem;
                }
                #rating {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-family: $default-font;
                    font-size: 1.25rem;
                    font-weight: 200;
                    gap: 0.5rem;

                    span {
                        border-bottom: 0.1rem solid black;
                    }
                }

                #vote-count {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    font-family: $default-font;
                    font-size: 1rem;
                    font-weight: 200;
                    text-wrap: nowrap;
                }
            }

            #author-flex {
                span {}

                #author {}
            }

            #description {}

            #attributes-price-flex {
                #attributes {}

                #price {}
            }
        }
    }

    #similar-products-flex {}
}