@import 'fonts';
@import 'colors';

#main-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    #product-flex {
        width: 100%;
        min-height: 80vh;
        height: 80vh;
        display: flex;
        flex-direction: row;
        background-color: $white;
        padding: 1rem;
        gap: 1rem;
        border-radius: 1rem;

         #loader-container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #preview-flex {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            min-height: 0;
            width: 100%;
            gap: 1rem;

            #canv {
                flex-shrink: 2;
                flex-grow: 1;
                min-height: 0;
                border: solid 2px $header-color;
                border-radius: 0.5rem;
                background-color: $gray;
                overflow: hidden;
            }

            #image-preview {
                flex-shrink: 2;
                flex-grow: 1;
                min-height: 0;
                max-width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border: 2px solid $header-color;
                border-radius: 0.5rem;
                background-color: $gray;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            #images {
                width: 100%;
                height: 20%;

                #model-preview-button {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    justify-content: center;
                    align-items: center;
                    font-family: $default-font;
                    font-size: 1rem;
                    color: $header-color;
                    line-height: 1rem;
                }
            }

        }

        #product-textblock-flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            min-height: 0;

            #name-rating-flex {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                #name {
                    font-family: $default-font;
                    font-size: 1.5rem;
                    font-weight: 400;
                    width: 100%;
                    overflow-x: hidden;
                }

                #rating-vote {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 0.3rem;
                }

                #rating {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-family: $default-font;
                    font-size: 1.25rem;
                    font-weight: 200;
                    gap: 0.5rem;

                    span {
                        border-bottom: 0.1rem solid black;
                    }
                }

                #vote-count {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    font-family: $default-font;
                    font-size: 1rem;
                    font-weight: 200;
                    text-wrap: nowrap;
                }
            }

            #description {
                font-family: $default-font;
                font-size: 1rem;
                font-weight: 400;
                text-indent: 1rem;
                display: flex;
                flex: 1;
                max-height: 100%;
                overflow: auto;
            }

            #attributes-price-flex {
                background-color: $header-color;
                color: $white;
                width: 100%;
                height: 20%;
                border-radius: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 1rem;
                user-select: none;

                #attributes {
                    font-family: $default-font;
                    font-size: 1rem;
                    font-weight: 400;
                    color: $white;
                    width: fit-content;
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-rows: repeat(3, 1fr);
                    column-gap: 1rem;
                    row-gap: 0.5rem;
                    line-height: 24px;

                    .attribute {
                        display: flex;
                        flex-direction: row;
                        gap: 0.25rem;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }

                #price-button-flex {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-end;
                    gap: 0.5rem;

                    #price {
                        font-family: $default-font;
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: $white;
                    }

                    #add-to-cart {
                        background-color: $logo-color;
                        font-family: $default-font;
                        color: black;
                        font-size: 1rem;
                        font-weight: 500;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        transition: all 0.05s ease-in-out;

                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        border: none;
                        outline: none;

                        &:active {
                            background-color: white;
                        }
                    }
                }

                #author-flex {
                    span {}

                    #author {}
                }
            }
        }

        #similar-products-flex {}
    }
}