@import 'fonts';
@import 'colors';


.item {
    background-color: $white;
    width: 100%;
    max-width: 450px;
    aspect-ratio: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
a{
    display: none;
}
    font-family: $default-font;

    .item-thumbnail {
        height: 100%;
        width: 100%;
        flex-grow: 0;
        background-color: $white;
        border-radius: 0.5rem;

        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-position: center;
            object-fit:cover;
            border-radius: 0.5rem;
        }
    }


    .item-subcontainer {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        align-items: space-between;
        gap: 0.5rem;
        padding: 0.5rem;
        height: fit-content;

        .item-name {
            font-size: 18px;
        }

        .item-rating-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            gap: 0.3rem;
            position: relative;
            font-weight: lighter;

            .item-rating-number {
                font-weight: 300;
            }

            Image {
                position: absolute;
                bottom: 10px;
            }
        }

        .item-attributes-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            #licence{
                padding: 0rem 0.25rem 0rem 0.25rem;
                border: 1px solid $header-color;
                border-radius: 0.25rem;
            }
        }

        .item-price {
            font-size: 20px;
            text-align: right;
        }
    }
}