@import 'fonts';
@import 'colors';

#login-form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    position: absolute;
    top: 10%;
    width: 15%;
    min-width: min-content;
    height: 50%;
    min-height: min-content;
    border: 1px $header-color solid;
    border-radius: 1rem;
    background-color: white;
    z-index: 6;

    #logo {
        font-family: $logo-font;
        font-weight: bold;
        font-size: 2rem;
        margin: 0;
        color: $logo-color;
        user-select: none;
    }
    button {
        min-width: 100%;
        height: 2.5rem;
        border: 2px black solid;
        border-radius: 0.4rem;
        line-height: 0;
        padding: 0.7rem;
        font-family: $default-font;
        font-weight: 500;
        font-size: 16px;
        color: $white;
        background-color: black;
        cursor: pointer;
    }
    #textinput-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input {
            width: 100%;
            height: 2.5rem;
            border: 2px black solid;
            border-radius: 0.4rem;
            line-height: 0;
            padding: 0.7rem;
            font-family: $default-font;
            font-weight: 500;
            font-size: 20px;
            color: black;
        }
    }

    #checkbox-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        .checkbox-subcontainer {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 14px;
            color: black;
            font-family: $default-font;
            cursor: pointer;

            input[type="checkbox"] {
                display: none;
            }

            span {
                position: relative;
                padding-left: 24px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    border: 2px solid black;
                    border-radius: 0.2rem;
                    background-color: transparent;
                    transition: background-color 0.2s ease-in-out;
                }
            }

            input:checked+span::before {
                background-color: black;
            }
        }
    }

    #login-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        #google-auth-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0.7rem;
            padding: 0.7rem;
            position: relative;
            font-size: 20px;
        }

       

        button {
            width: 100%;
            height: 2.5rem;
            border: 2px black solid;
            border-radius: 0.4rem;
            line-height: 0;
            padding: 0.7rem;
            font-family: $default-font;
            font-weight: 500;
            font-size: 20px;
            color: $white;
            background-color: black;
            cursor: pointer;
        }
        p{
            color: gray;
            text-align: center;
            font-family: $default-font;
            font-weight: 300;
            margin: 0;
            font-size: 14px;
            user-select: none;
        }

    }
}