#main-area-div {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;

	#main-area_subcontainer {
		width: min(1440px, 100% - 32px);
		height: fit-content;
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
	}
}